<div class="form_container">
    <form [formGroup] = "formdata"  (ngSubmit) = "onClickSubmit(formdata.value)">

        <header>Login</header>

        <label>Username <span>*</span> </label>
        <input type="text" name="uname" formControlName = "uname"/>

        <div class="help"> At least 6 character</div>

        <label>Password <span>*</span> </label>

        <input type="password" class="fortextbox" name="password" formControlName="passwd"/>

        <div class="help">Use Upper and Lowercase letters as well</div>

        <button [disabled] = "!formdata.value" value="Login">Login</button>

    </form>
</div>